

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Shadows+Into+Light|Lacquer|Acme&display=swap');
body{
  /* steelblue */
  background-image:url('./note.png'); 
  background-size: 110% 120%;
  background-position: center;
  background-repeat:no-repeat; 
}
.puzzle-container{
    margin:5px auto 40px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    /* width:410px; */
    text-align: center;
    width:690px;
    height:410px;
    padding:20px;
    background:whitesmoke;
    border-radius:10px;
    border:6px solid #FFEBCD;
    font-size:20px;
    /* float:left; */
    overflow:hidden;
    cursor:pointer;
}
.btn-success{
 background-color: #4a386f !important;
 border-color:#4a386f;
 margin-top: 10px;
 margin-left: -10%;
 margin-right: 130px;
}
#title h1{
  text-align: center;
  font-family: 'Lacquer', sans-serif;
  margin-left:40%; 
/* font-size: 60px; */

  
}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
}
header{
  border-radius:20%;
  /* background-color:#315a72;  */
  margin-top:2%; 
  display: flex;
  color:black;
  justify-content: space-between;
}
.playbutton{
  border-radius: 8px;
  /* background-color:yellow; */
  border: 2px solid #4CAF50;  
}

.containerr{
  /* margin-left:35%; */
  text-align: center;
  margin-bottom: 20px;
  
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  background-color:whitesmoke; 
 
 
  
}
#res{
  font-size: 30px;
  font-weight: bold;
}
.box {
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    font-family: 'Acme', sans-serif;
    display: inline-block;
    /* float:left; */

  }
  .container{
    display: flex;
    margin-top:5%;
    margin-right:5%; 
  }
  .pink{
    background:pink;
  }
  #play{
    width:100px;
    height:45px;
    background-color: red;
    border: none;
    margin-left: 43%;
    margin-top: 2%;
   
  }
  .drop{
    width: 500px !important;
  }
  .categories{
      /* display: flex;
      flex-direction: column;  
      margin-left:10%; 
      margin-right:10%; 
      margin-top:5%;  */
      /* border: 2px solid whitesmoke;
      background-color:whitesmoke;  */
    /* border-radius:10%;  */
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .auth-form{
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    background-color:whitesmoke; 
    padding: 10%;
    margin-top: -1%;
    margin-bottom: 5%;
  }
  .cat{
    width: 150px;
    height: 60px;
    margin-left: 40%;
    margin-top: 2%;
    background-color:#88acd4;
    border:4px solid #3e618a; 
    border-radius:20%; 
  }
  .cat:hover {
    background-color: rgba(255, 255, 0, 0.637);
  }
  
  .select{
    background-color: rgba(255, 255, 0, 0.637);
  }
 
 
  a{
    color: white;
    
  }
  #del{
    height: 30px;
    width: 30px;
    background-color: none;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    cursor:pointer;
    color:red;
  }
  #words{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
    /* margin-left: 10%; */
    margin-right: 20%;

  }
  .green{
    background:gold;  
  }
  .line-through{
    text-decoration: line-through;

  }
  .background{
    background:#000;
  }