

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Shadows+Into+Light|Acme&display=swap');
body{
  background-color:steelblue; 
}
.puzzle-container{
    margin:20px auto 40px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    /* width:410px; */
    text-align: center;
    width:690px;
    height:410px;
    padding:20px;
    background:whitesmoke;
    border-radius:10px;
    font-size:20px;
    /* float:left; */
    overflow:hidden;
    cursor:pointer;
}
header{
  background-color:deepskyblue 
}
button{
  border-radius: 8px;
  /* background-color:yellow; */
  border: 2px solid #4CAF50;  
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.box {
    /* margin:3px; */
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    font-family: 'Acme', sans-serif;

    /* box-shadow:0 0 5px rgba(0,0,0,0.1); */
    /* border-radius:5px; */
    float:left;
    /* background:#fff; */
  }
  .container{
    display: flex;
  }
  .pink{
    background:pink;
  }
  #play{
    width:100px;
    height:45px;
    background-color: red;
    border: none;
   
  }
  .drop{
    width: 500px !important;
  }
  .categories{
      display: flex;
      flex-direction: column;
      
      margin-left:45%; 
      margin-top:5%; 
  }
  .cat{
    width: 150px;
    height: 60px;
    margin: 15px;
  }
 
  a{
    color: white;
    
  }
  #del{
    border: none;
    background-color:none;
    width: 20px;
    height: 20px; 
  }
  #words{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px

  }
  .green{
    background:purple;  
  }
  .line-through{
    text-decoration: line-through;

  }
  .background{
    background:#000;
  }